.card{
    border: 1px solid #bddaed;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    box-shadow: 0 4px 8px #eefaff,
                2px 4px 8px #cdeeff,
                -4px 0 8px #eaf7fd;
    border-radius: 0.5rem;            
}