.card{
    margin: 2rem 0;
    border: 1px solid #bddaed;
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px #eefaff,
                2px 4px 8px #cdeeff,
                -4px 0 8px #eaf7fd;
    border-radius: 0.5rem;   
    position: relative;         
}

.card > span{
    position: absolute;
    bottom: 0;
    height: 0.75rem;
    width: 80%;
    margin: 0 10%;
    background-color: #dfe6f2;
    border-radius: 0.5rem;
}